* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
  font-family: 'Times New Roman', serif;
  font-size: 18px;
  font-weight: normal;
  line-height: 1.4;
  color: black;
  background-color: transparent;
}

body {
  background-color: white;
}

.TopSection {
  display: flex;
}

.Side {
  margin: 50px 0 0 50px;
}

.Menu {
  display: flex;
  list-style-type: none;
  justify-content: space-between;
}

.Currency {
  display: flex;
  list-style-type: none;
  justify-content: space-between;
}

.SearchMenu {
  display: flex;
  list-style-type: none;
  justify-content: space-between;
}

.BottomSection {
  display: flex;
  justify-content: space-around;
}
